n8n-workflow-web-chat.json
{
  "meta": {
    "instanceId": "your-instance-id"
  },
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chat-web",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "id": "webhook-web-chat",
      "name": "Webhook Web Chat"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.chatInput }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [640, 300],
      "id": "ai-agent-web",
      "name": "AI Agent Web"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "claude-sonnet-4-20250514"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [440, 500],
      "id": "anthropic-model-web",
      "name": "Anthropic Chat Model Web",
      "credentials": {
        "anthropicApi": {
          "id": "your-anthropic-credentials-id",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.body.sessionId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [640, 500],
      "id": "memory-web",
      "name": "Simple Memory Web"
    },
    {
      "parameters": {
        "endpointUrl": "https://n8n-odoo-remote.e2gone.easypanel.host/mcp",
        "serverTransport": "httpStreamable",
        "authentication": "headerAuth",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.1,
      "position": [840, 500],
      "id": "mcp-client-web",
      "name": "MCP Client Web",
      "credentials": {
        "httpHeaderAuth": {
          "id": "your-header-auth-id",
          "name": "Header frescales odoo"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"output\": $json.output, \"sessionId\": $('Webhook Web Chat').item.json.body.sessionId } }}"
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1040, 300],
      "id": "respond-webhook-web",
      "name": "Respond to Webhook Web"
    }
  ],
  "connections": {
    "Webhook Web Chat": {
      "main": [
        [
          {
            "node": "AI Agent Web",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent Web": {
      "main": [
        [
          {
            "node": "Respond to Webhook Web",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model Web": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent Web",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory Web": {
      "ai_memory": [
        [
          {
            "node": "AI Agent Web",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "MCP Client Web": {
      "ai_tool": [
        [
          {
            "node": "AI Agent Web",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  }
}